<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Alejandro Schulten</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/cards.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/indexScript.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

</head>
<body>
    <header>
        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btnHome" })
        <div id="logo-header"style="top:0px; align-content: center; justify-content: stretch">
            <img id="logo" src="http://www.movilibro.com.ar/img/logo-movilibro.svg" style="height: 1%; min-height:30px; max-height: 60px"/>
        </div>
        <nav id="navMenu">
            <a href="../Libro/Mostrar" class="link" data-archivo="libros">Libros</a>
            <a href="../Autor/Mostrar" class="link" data-archivo="autores">Autores</a>
            <a href="../Genero/Mostrar" class="link" data-archivo="generos">Generos</a>
            <a href="../Editorial/Mostrar" class="link" data-archivo="editoriales">Editoriales</a>

        </nav>
        <!--
    <button id="btnMenu"><span class="glyphicon glyphicon-menu-hamburger "></span></button>-->
        <!--<form action="">
        <input type="search">
        <i class="fa fa-search"></i>
    </form>-->
    </header>

            
               
                @RenderBody()
            
   
       
        <footer>
            <p>&copy; Copyright - 2019</p>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>



