@using AccentureAccademySchultenAlejandro.Models
@model Librito

<!DOCTYPE html>
<html>
<body>
    <main>
        <form method="post">
            <input type="hidden" name="Id_Libro" value="@this.Model.Id_Libro" />
            <table class="text-left" id="tablaCrea">
                <tbody id="tbCreaAutor">
                    <tr>
                        <td><label>ISBN: </label><input type="text" name="ISBN" value="@this.Model.ISBN" required/></td>
                        <td><label>Titulo: </label><input type="text" name="Titulo" value="@this.Model.Titulo" required/></td>
                        <td><label>Genero: </label><input type="text" name="Genero" value="@this.Model.Genero" required/></td>
                    <tr>
                        <td><label>Editorial: </label><input type="text" name="Editorial" value="@this.Model.Editorial" required/></td>
                        <td><label>Descripcion: </label><input type="text" name="Descripcion" value="@this.Model.Descripcion" /></td>
                        <td><label>Imagen: </label><input type="text" name="Imagen" value="@this.Model.Imagen" /></td>
                    </tr>
                    <tr id="0">

                        @for (int i = 0; i < this.Model.Autores.Count(); i++)
                        {

                            <td class="Autores">
                                <label>Autor/es: </label>
                                <input id="Nombre" type="text" name="Autores[@i].Nombre" value="@this.Model.Autores[i].Nombre" />
                                <input id="Id_Autor" type="hidden" name="Autores[@i].Id_Autor" value="@this.Model.Autores[i].Id_Autor" />
                            </td>
                        }
                        <td><button type="button" id="otroAutor" class="btn btn-primary" /><span class="glyphicon glyphicon-plus"></span></td>
                    </tr>
                </tbody>
            </table>
            <button>Submit</button>
        </form>
        
    </main>
    <script src="~/Scripts/script.js"></script>

</body>
</html>