@using AccentureAccademySchultenAlejandro.Models
@model Librito

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MostrarUno</title>
</head>
<body>
    <div class="contenedor">
        <div class="contenedor-cards">
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="/Images/@this.Model.Imagen" alt="" onclick="location.href='@Url.Action("Editar", "Libro",new { Id = this.Model.Id_Libro })'">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">@this.Model.Titulo</p>

                            @foreach (Autor a in this.Model.Autores)
                            {
                                <span class="autores">@a.Nombre</span>

                            }
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="float:left; top:0; padding:5px">
        <table>
            <thead>
            <th>ISBN</th>
            <th>Titulo</th>
            <th>Editorial</th>
            <th>Genero</th>
            <th>Descripcion</th>
            <th>Autor</th>
            </thead>
            <tbody>
            <tr>
                <td>@this.Model.ISBN</td>
                <td>@this.Model.Titulo</td>
                <td>@this.Model.Editorial</td>
                <td>@this.Model.Genero</td>
                <td>@this.Model.Descripcion</td>
                <td>
                    @foreach (Autor a in this.Model.Autores)
                    {
                        @a.Nombre
                    }
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        @Html.ActionLink("Eliminar", "Crear", "Libro", null, new { @class = "glyphicon glyphicon-trash" })
    </div>
</body>
</html>
