@using AccentureAccademySchultenAlejandro.Models
@model List<Librito>


<!DOCTYPE html>
<script>
function myFunction() {
  var input, filter, conteiner, card, td, i;
        input = document.getElementById("buscar");
        filter = input.value.toUpperCase();
    conteiner = document.getElementById("info");
    card = table.getElementById("titulo");
    for (i = 0; i < conteiner.length; i++) {
            td = card[i].getElementsByTagName("autores")[3];
   if (td) {
     if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            card[i].style.display = "";
      } else {
            card[i].style.display = "none";
      }
     }
   }
 }

</script>
<html>
<body>
    <main class="wraper">
        <nav id="navLibros">
            @Html.ActionLink("Nuevo", "Crear", "Libro", null, new { @class = "btnCrear btn" })

            <!--<input type="text" id="buscar" onkeyup="myFunction()" placeholder="Busqueda Central" title="Busqueda Rapida" class="form-control">-->

            <!--<tr>
        <input type="text" id="search" placeholder="Busque..." autofocus />
    </tr>-->
            <form>
                <div>Ordenar por:</div>
                <select action="/Libro/MostrarOrdenado/" class="glyphicon glyphicon-refresh">
                    <option value="Autor">Autor</option>
                    <option value="Genero">Genero</option>
                    <option value="Titulo" selected>Titulo</option>
                    <option value="Editorial">Editorial</option>
                </select>

                <button class="glyphicon glyphicon-refresh" style="margin-top:1em" onclick="location.href='@Url.Action("MostrarOrdenado", "Libro",new {ordenadopor = "Autor" })'">
                </button>
            </form>


        </nav>
   
    <div class="contenedor">
        <div class="contenedor-cards">
            @if (this.Model != null)
             {
                foreach (Librito libro in this.Model)
                    {
                    <div class="contenedor-card-item">
                        <div class="contenedor-card-item-wrapper">
                            <img src="../Images/@libro.Imagen" alt="" onclick="location.href='@Url.Action("MostrarUno", "Libro",new { Id = @libro.Id_Libro })'">
                            <div class="contenedor-info">
                                <div class="info" id="info">
                                    <p class="titulo" id="titulo">@libro.Titulo</p>

                                    @foreach (Autor a in libro.Autores)
                                    {
                                    <span class="autores" id="autores">@a.Nombre</span>

                                    }
                                </div>
                                <div class="fondo"></div>
                            </div>
                        </div>
                    </div>  
                }

             }
        </div>
    </div>

</main>
<script src="~/Scripts/ScriptLibros.js"></script>
</body>

</html>